# GitHub Actions Secrets

# For Deploying Note App
USER_CF_TOKEN=your-cloudflare-api-token
USER_CF_ID=your-cloudflare-account-id

# For Daily Report
BANK_CF_TOKEN=your-cloudflare-api-token
BANK_CF_ID=your-cloudflare-account-id
BANK_D1_ID=82f17137-672a-4dba-b694-df0fb8f21a09
USER_RESEND_KEY=your-resend-api-key
USER_RESEND_EMAIL=your-resend-account-email